<!-- Header -->
<header class="page-header section">
  <div class="container container-logo-btn-open container-page-relative">
    <nav class="nav-page">
      <a class="link-logo link" href="./index.html"
        >Web<span class="logo-chank">Studio</span></a
      >
      <ul class="menu-nav list">
        <li class="list-nav">
          <a class="link-nav link underlining" href="./index.html">Studio</a>
        </li>
        <li class="list-nav">
          <a class="link-nav link" href="./portfolio.html">Portfolio</a>
        </li>
        <li class="list-nav">
          <a class="link-nav link" href="">Contacts</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="mobile-menu_btn-open js-open-menu">
      <svg class="mobile-menu_open-icon" width="32" height="22">
        <use href="./images/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <address class="address-header">
      <ul class="menu-address list">
        <li class="list-address">
          <a class="link-adress link" href="mailto:info@devstudio.com"
            >info@devstudio.com</a
          >
        </li>
        <li class="list-address">
          <a class="link-adress link" href="tel:+110001111111"
            >+11 (000) 111-11-11</a
          >
        </li>
      </ul>
    </address>
  </div>

  <!-- Mobile-Menu -->

  <div class="mobile-menu-container-fixed js-menu-container">
    <div class="container mobile-menu_container-reletiv">
      <button class="mobile-menu_btn-close js-close-menu">
        <svg class="mobile-menu_close-icon" width="8" height="8">
          <use href="../images/icons.svg#icon-close-modal"></use>
        </svg>
      </button>
      <ul class="mobile-menu-nav list">
        <li class="mobile-list-nav">
          <a class="mobile-link-nav link link-color" href="./index.html"
            >Studio</a
          >
        </li>
        <li class="mobile-list-nav">
          <a class="mobile-link-nav link" href="./portfolio.html">Portfolio</a>
        </li>
        <li class="mobile-list-nav">
          <a class="mobile-link-nav link" href="">Contacts</a>
        </li>
      </ul>

      <ul class="mobile-menu-address list">
        <li class="mobile-list-address">
          <a class="mobile-link-adress-tel link" href="tel:+110001111111"
            >+11 (000) 111-11-11</a
          >
        </li>
        <li class="mobile-list-address">
          <a
            class="mobile-link-adress-mail link"
            href="mailto:info@devstudio.com"
            >info@devstudio.com</a
          >
        </li>
      </ul>

      <!-- Mobile-Social-SVG -->
      <ul class="mobile-menu-social-svg list">
        <li class="mobile-social-list">
          <a href="" class="mobile-social-link">
            <svg class="social-svg-icon" width="24" height="24">
              <use href="../images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-social-list">
          <a href="" class="mobile-social-link">
            <svg class="social-svg-icon" width="24" height="24">
              <use href="../images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-social-list">
          <a href="" class="mobile-social-link">
            <svg class="social-svg-icon" width="24" height="24">
              <use href="../images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-social-list">
          <a href="" class="mobile-social-link">
            <svg class="social-svg-icon" width="24" height="24">
              <use href="../images/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
