<!-- Our Work Section 3 -->

<section class="our-work section">
  <div class="container container-our-work">
    <h2 class="title-section">What are we doing</h2>
    <ul class="menu-our-work list">
      <li class="list-our-work">
        <img
          srcset="./images/work/img-1@2x.jpg 2x"
          src="./images/work/img-1.jpg"
          alt="monitor that shows the website"
          width="360"
          height="300"
        />
      </li>
      <li class="list-our-work">
        <img
          srcset="./images/work/img-2@2x.jpg 2x"
          src="./images/work/img-2.jpg"
          alt="a mobile phone in which the program is depicted on 4 pages"
          width="360"
          height="300"
        />
      </li>
      <li class="list-our-work">
        <img
          srcset="./images/work/img-3@2x.jpg 2x"
          src="./images/work/img-3.jpg"
          alt="mobile phone in hand that transfers photos to the laptop on the table"
          width="360"
          height="300"
        />
      </li>
    </ul>
  </div>
</section>
