<!-- Our-Team  Section 4-->

<section class="our-team section">
  <div class="container container-our-team-padding">
    <h2 class="title-section">Our Team</h2>
    <ul class="menu-our-team list">
      <li class="list-our-team">
        <img
          srcset="./images/team/mark-guerr@2x.jpg 2x"
          src="./images/team/mark-guerrero.jpg"
          alt="smiling man"
          width="264"
          height="260"
        />
        <div class="container-description-our-team">
          <h3 class="title-description-our-team">Mark Guerrero</h3>
          <p class="description-our-team">Product Designer</p>
          <ul class="menu-social-svg list">
            <li class="social-list-items">
              <a href="" class="social-list-link">
                <svg class="social-svg-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-items">
              <a href="" class="social-list-link">
                <svg class="social-svg-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-items">
              <a href="" class="social-list-link">
                <svg class="social-svg-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-items">
              <a href="" class="social-list-link">
                <svg class="social-svg-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="list-our-team">
        <img
          srcset="./images/team/tom-ford@2x.jpg 2x"
          src="./images/team/tom-ford.jpg"
          alt="smiling man"
          width="264"
          height="260"
        />
        <div class="container-description-our-team">
          <h3 class="title-description-our-team">Tom Ford</h3>
          <p class="description-our-team">Frontend Developer</p>
          <ul class="menu-social-svg list">
            <li class="social-list-items">
              <a href="" class="social-list-link">
                <svg class="social-svg-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-items">
              <a href="" class="social-list-link">
                <svg class="social-svg-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-items">
              <a href="" class="social-list-link">
                <svg class="social-svg-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-items">
              <a href="" class="social-list-link">
                <svg class="social-svg-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="list-our-team">
        <img
          srcset="./images/team/camila-garcia@2x.jpg 2x"
          src="./images/team/camila-garcia.jpg"
          alt="smiling woman"
          width="264"
          height="260"
        />
        <div class="container-description-our-team">
          <h3 class="title-description-our-team">Camila Garcia</h3>
          <p class="description-our-team">Marketing</p>
          <ul class="menu-social-svg list">
            <li class="social-list-items">
              <a href="" class="social-list-link">
                <svg class="social-svg-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-items">
              <a href="" class="social-list-link">
                <svg class="social-svg-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-items">
              <a href="" class="social-list-link">
                <svg class="social-svg-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-items">
              <a href="" class="social-list-link">
                <svg class="social-svg-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="list-our-team">
        <img
          srcset="./images/team/daniel-wilson@2x.jpg 2x"
          src="./images/team/daniel-wilson.jpg"
          alt="smiling man"
          width="264"
          height="260"
        />
        <div class="container-description-our-team">
          <h3 class="title-description-our-team">Daniel Wilson</h3>
          <p class="description-our-team">UI Designer</p>
          <ul class="menu-social-svg list">
            <li class="social-list-items">
              <a href="" class="social-list-link">
                <svg class="social-svg-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-items">
              <a href="" class="social-list-link">
                <svg class="social-svg-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-items">
              <a href="" class="social-list-link">
                <svg class="social-svg-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-items">
              <a href="" class="social-list-link">
                <svg class="social-svg-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
