<!-- Hero -->
<section class="sectoin-hero-portfolio">
  <div class="container">
    <h1 class="title-portfolio" hidden>Portfolio Skills</h1>
    <ul class="menu-button list">
      <li class="menu-item">
        <button class="button-filter" type="button">All</button>
      </li>
      <li class="menu-item">
        <button class="button-filter" type="button">Web Site</button>
      </li>
      <li class="menu-item">
        <button class="button-filter" type="button">App</button>
      </li>
      <li class="menu-item">
        <button class="button-filter" type="button">Design</button>
      </li>
      <li class="menu-item">
        <button class="button-filter" type="button">Marketing</button>
      </li>
    </ul>

    <ul class="menu-img-card-portf list">
      <li class="list-img-card-portf">
        <a class="link-img-card-portf link" href="">
          <div class="cont-overlay-card-port">
            <picture>
              <source
                srcset="
                  ./images/portfolio/app-desktop.jpg    1x,
                  ./images/portfolio/app-desktop@2x.jpg 2x
                "
                media="(min-width: 1158px)"
              />

              <source
                srcset="
                  ./images/portfolio/app-tablet.jpg    1x,
                  ./images/portfolio/app-tablet@2x.jpg 2x
                "
                media="(min-width:768px)"
              />

              <source
                srcset="
                  ./images/portfolio/app-mobile.jpg    1x,
                  ./images/portfolio/app-mobile@2x.jpg 2x
                "
                media="(max-width:767px)"
              />

              <img src="./images/portfolio/app-mobile.jpg" alt="Banking App" />
            </picture>
            <p class="overlay">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Rerum error neque natus repellendus doloribus unde
              blanditiis placeat dicta minima odio! Officia ratione officiis,
              consequuntur id nesciunt reiciendis minus consequatur excepturi?
            </p>
          </div>
          <div class="container-card">
            <h2 class="title-description">Banking App Interface Concept</h2>
            <p class="description">App</p>
          </div>
        </a>
      </li>

      <li class="list-img-card-portf">
        <a class="link-img-card-portf link" href="">
          <div class="cont-overlay-card-port">
            <picture>
              <source
                srcset="
                  ../images/portfolio/phone-payment-desktop.jpg    1x,
                  ../images/portfolio/phone-payment-desktop@2x.jpg 2x
                "
                media="(min-width: 1158px)"
              />

              <source
                srcset="
                  ../images/portfolio/phone-payment-tablet.jpg    1x,
                  ../images/portfolio/phone-payment-tablet@2x.jpg 2x
                "
                media="(min-width:768px)"
              />

              <source
                srcset="
                  ../images/portfolio/phone-payment-mobile.jpg    1x,
                  ../images/portfolio/phone-payment-mobile@2x.jpg 2x
                "
                media="(max-width:767px)"
              />

              <img
                src="../images/portfolio/phone-payment-mobile.jpg"
                alt="phone payment"
              />
            </picture>
            <p class="overlay">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Rerum error neque natus repellendus doloribus unde
              blanditiis placeat dicta minima odio! Officia ratione officiis,
              consequuntur id nesciunt reiciendis minus consequatur excepturi?
            </p>
          </div>
          <div class="container-card">
            <h2 class="title-description">Cashless Payment</h2>
            <p class="description">Marketing</p>
          </div>
        </a>
      </li>

      <li class="list-img-card-portf">
        <a class="link-img-card-portf link" href="">
          <div class="cont-overlay-card-port">
            <picture>
              <source
                srcset="
                  ../images/portfolio/leptop-phone-desktop.jpg    1x,
                  ../images/portfolio/leptop-phone-desktop@2x.jpg 2x
                "
                media="(min-width: 1158px)"
              />

              <source
                srcset="
                  ../images/portfolio/leptop-phone-tablet.jpg    1x,
                  ../images/portfolio/leptop-phone-tablet@2x.jpg 2x
                "
                media="(min-width:768px)"
              />

              <source
                srcset="
                  ../images/portfolio/leptop-phone-mobile.jpg    1x,
                  ../images/portfolio/leptop-phone-mobile@2x.jpg 2x
                "
                media="(max-width:767px)"
              />

              <img
                src="../images/portfolio/leptop-phone-mobile.jpg"
                alt="phone that scans Qr code"
              />
            </picture>
            <p class="overlay">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Rerum error neque natus repellendus doloribus unde
              blanditiis placeat dicta minima odio! Officia ratione officiis,
              consequuntur id nesciunt reiciendis minus consequatur excepturi?
            </p>
          </div>
          <div class="container-card">
            <h2 class="title-description">Meditation App</h2>
            <p class="description">App</p>
          </div>
        </a>
      </li>

      <li class="list-img-card-portf">
        <a class="link-img-card-portf link" href="">
          <div class="cont-overlay-card-port">
            <picture>
              <source
                srcset="
                  ../images/portfolio/phone-in-car-desktop.jpg    1x,
                  ../images/portfolio/phone-in-car-desktop@2x.jpg 2x
                "
                media="(min-width: 1158px)"
              />

              <source
                srcset="
                  ../images/portfolio/phone-in-car-tablet.jpg    1x,
                  ../images/portfolio/phone-in-car-tablet@2x.jpg 2x
                "
                media="(min-width:768px)"
              />

              <source
                srcset="
                  ../images/portfolio/phone-in-car-mobile.jpg    1x,
                  ../images/portfolio/phone-in-car-mobile@2x.jpg 2x
                "
                media="(max-width:767px)"
              />

              <img
                src="../images/portfolio/phone-in-car-mobile.jpg"
                alt="phone in car"
              />
            </picture>
            <p class="overlay">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Rerum error neque natus repellendus doloribus unde
              blanditiis placeat dicta minima odio! Officia ratione officiis,
              consequuntur id nesciunt reiciendis minus consequatur excepturi?
            </p>
          </div>
          <div class="container-card">
            <h2 class="title-description">Taxi Service</h2>
            <p class="description">Marketing</p>
          </div>
        </a>
      </li>

      <li class="list-img-card-portf">
        <a class="link-img-card-portf link" href="">
          <div class="cont-overlay-card-port">
            <picture>
              <source
                srcset="
                  ../images/portfolio/phone-screenholders-desktop.jpg    1x,
                  ../images/portfolio/phone-screenholders-desktop@2x.jpg 2x
                "
                media="(min-width: 1158px)"
              />

              <source
                srcset="
                  ../images/portfolio/phone-screenholders-tablet.jpg    1x,
                  ../images/portfolio/phone-screenholders-tablet@2x.jpg 2x
                "
                media="(min-width:768px)"
              />

              <source
                srcset="
                  ../images/portfolio/phone-screenholders-mobile.jpg    1x,
                  ../images/portfolio/phone-screenholders-mobile@2x.jpg 2x
                "
                media="(max-width:767px)"
              />

              <img
                src="../images/portfolio/phone-screenholders-mobile.jpg"
                alt="Screen Illustrations with four walpaper"
              />
            </picture>
            <p class="overlay">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Rerum error neque natus repellendus doloribus unde
              blanditiis placeat dicta minima odio! Officia ratione officiis,
              consequuntur id nesciunt reiciendis minus consequatur excepturi?
            </p>
          </div>
          <div class="container-card">
            <h2 class="title-description">Screen Illustrations</h2>
            <p class="description">Design</p>
          </div>
        </a>
      </li>

      <li class="list-img-card-portf">
        <a class="link-img-card-portf link" href="">
          <div class="cont-overlay-card-port">
            <picture>
              <source
                srcset="
                  ../images/portfolio/girl-with-phone-desktop.jpg    1x,
                  ../images/portfolio/girl-with-phone-desktop@2x.jpg 2x
                "
                media="(min-width: 1158px)"
              />

              <source
                srcset="
                  ../images/portfolio/girl-with-phone-tablet.jpg    1x,
                  ../images/portfolio/girl-with-phone-tablet@2x.jpg 2x
                "
                media="(min-width:768px)"
              />

              <source
                srcset="
                  ../images/portfolio/girl-with-phone-mobile.jpg    1x,
                  ../images/portfolio/girl-with-phone-mobile@2x.jpg 2x
                "
                media="(max-width:767px)"
              />

              <img
                src="../images/portfolio/girl-with-phone-mobile.jpg"
                alt="smiling girl in glasses and with a phone"
              />
            </picture>
            <p class="overlay">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Rerum error neque natus repellendus doloribus unde
              blanditiis placeat dicta minima odio! Officia ratione officiis,
              consequuntur id nesciunt reiciendis minus consequatur excepturi?
            </p>
          </div>
          <div class="container-card">
            <h2 class="title-description">Online Courses</h2>
            <p class="description">Marketing</p>
          </div>
        </a>
      </li>

      <li class="list-img-card-portf">
        <a class="link-img-card-portf link" href="">
          <div class="cont-overlay-card-port">
            <picture>
              <source
                srcset="
                  ../images/portfolio/posts-desktop.jpg    1x,
                  ../images/portfolio/posts-desktop@2x.jpg 2x
                "
                media="(min-width: 1158px)"
              />

              <source
                srcset="
                  ../images/portfolio/posts-tablet.jpg    1x,
                  ../images/portfolio/posts-tablet@2x.jpg 2x
                "
                media="(min-width:768px)"
              />

              <source
                srcset="
                  ../images/portfolio/posts-mobile.jpg    1x,
                  ../images/portfolio/posts-mobile@2x.jpg 2x
                "
                media="(max-width:767px)"
              />

              <img
                src="../images/portfolio/posts-mobile.jpg"
                alt="Instagram Stories Concept"
              />
            </picture>
            <p class="overlay">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Rerum error neque natus repellendus doloribus unde
              blanditiis placeat dicta minima odio! Officia ratione officiis,
              consequuntur id nesciunt reiciendis minus consequatur excepturi?
            </p>
          </div>
          <div class="container-card">
            <h2 class="title-description">Instagram Stories Concept</h2>
            <p class="description">Design</p>
          </div>
        </a>
      </li>

      <li class="list-img-card-portf">
        <a class="link-img-card-portf link" href="">
          <div class="cont-overlay-card-port">
            <picture>
              <source
                srcset="
                  ../images/portfolio/woman-with-vegitables-desktop.jpg    1x,
                  ../images/portfolio/woman-with-vegitables-desktop@2x.jpg 2x
                "
                media="(min-width: 1158px)"
              />

              <source
                srcset="
                  ../images/portfolio/woman-with-vegitables-tablet.jpg    1x,
                  ../images/portfolio/woman-with-vegitables-tablet@2x.jpg 2x
                "
                media="(min-width:768px)"
              />

              <source
                srcset="
                  ../images/portfolio/woman-with-vegitables-mobile.jpg    1x,
                  ../images/portfolio/woman-with-vegitables-mobile@2x.jpg 2x
                "
                media="(max-width:767px)"
              />

              <img
                src="../images/portfolio/woman-with-vegitables-mobile.jpg"
                alt="a person carrying fruit in a bag"
              />
            </picture>
            <p class="overlay">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Rerum error neque natus repellendus doloribus unde
              blanditiis placeat dicta minima odio! Officia ratione officiis,
              consequuntur id nesciunt reiciendis minus consequatur excepturi?
            </p>
          </div>
          <div class="container-card">
            <h2 class="title-description">Organic Food</h2>
            <p class="description">Web Site</p>
          </div>
        </a>
      </li>

      <li class="list-img-card-portf">
        <a class="link-img-card-portf link" href="">
          <div class="cont-overlay-card-port">
            <picture>
              <source
                srcset="
                  ../images/portfolio/coffe-desktop.jpg    1x,
                  ../images/portfolio/coffe-desktop@2x.jpg 2x
                "
                media="(min-width: 1158px)"
              />

              <source
                srcset="
                  ../images/portfolio/coffe-tablet.jpg    1x,
                  ../images/portfolio/coffe-tablet@2x.jpg 2x
                "
                media="(min-width:768px)"
              />

              <source
                srcset="
                  ../images/portfolio/coffe-mobile.jpg    1x,
                  ../images/portfolio/coffe-mobile@2x.jpg 2x
                "
                media="(max-width:767px)"
              />

              <img
                src="../images/portfolio/coffe-mobile.jpg"
                alt="a vessel that pours coffee into a mug"
              />
            </picture>
            <p class="overlay">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Rerum error neque natus repellendus doloribus unde
              blanditiis placeat dicta minima odio! Officia ratione officiis,
              consequuntur id nesciunt reiciendis minus consequatur excepturi?
            </p>
          </div>
          <div class="container-card">
            <h2 class="title-description">Fresh Coffee</h2>
            <p class="description">Web Site</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
