/* *****************************  COMPONENTS  ******************************* */

:root {
  --color-logo: #4d5ae5;
  --color-text-head: #434455;
  --color-text-sec: #2e2f42;
  --color-white-light: #f4f4fd;
  --color-text-hover-focus: #404bbf;
  --bg-color-head: #ffffff;
  --color-border: #e7e9fc;
  --color-svg-logo-cust: #8e8f99;
  --color-svg-social-hov: #31d0aa;
  --trans-time-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-head);
  background-color: var(--bg-color-head);
}

.address-header {
  font-style: normal;
}

.title-page {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--bg-color-head);
  margin-bottom: 72px;
}

.button-order {
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--bg-color-head);
  background-color: var(--color-logo);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--trans-time-cubic);
}

.button-order:hover,
.button-order:focus {
  background-color: var(--color-text-hover-focus);
}
