@media screen and (max-width: 767px) {
  .container {
    max-width: 428px;
  }

  .menu-nav {
    display: none;
  }

  .address-header {
    display: none;
  }

  .icon-container-skills {
    display: none;
  }

  .menu-skills {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .our-work {
    display: none;
  }

  .menu-our-team {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 72px;
  }

  .menu-cust-svg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 16px;
  }

  .list-item-cust {
    width: 190px;
    height: 88px;
  }

  .container-foot-logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }

  .cont-form-footer {
    width: 100%;
  }

  .container-footer-form {
    width: 100%;
  }

  .link-logo-footer {
    text-align: center;
  }

  .desc-foot-svg {
    text-align: center;
  }

  .container-foot-svg {
    margin-bottom: 72px;
  }

  .form-lable-footer {
    width: 100%;
  }
}
