/* ********************* Tablet (768px - 1157px) ********************** */

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .mobile-menu_btn-open {
    display: none;
  }

  .link-logo {
    margin-right: 120px;
  }

  .link-adress {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-text-head);
  }

  .title-page {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .list-skills {
    width: calc((100% - 56px) / 2);
    height: 120px;
  }

  .icon-container-skills {
    display: none;
  }

  .title-description-skills {
    text-align: left;
  }

  .our-work {
    display: none;
  }

  .menu-our-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }

  .menu-cust-svg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }

  .list-item-cust {
    width: 168px;
    height: 88px;
  }
  
  .container-footer {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 72px 24px;
        padding-left: 108px;

  }

  .container-foot-logo {
    align-items: flex-start;
  }

  .container-foot-svg {
    align-items: flex-start;
  }

  .container-footer-form {
    align-items: flex-start;
  }

  .cont-form-footer {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .cont-form-inp-footer {
    width: 264px;
  }

  .menu-nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}


